BankClient/Service References/BankOrder/BankOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4455/BankOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankDAL.Entities" />
  <xs:import schemaLocation="http://localhost:4455/BankOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankDAL.Entities" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LoginResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankDAL.Entities" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q5:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankDAL.Entities" minOccurs="0" name="GetAccountsByUserResult" nillable="true" type="q6:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankDAL.Entities" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>