BankClient/Service References/BankOrder/BankOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4455/BankOrder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4455/BankOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4455/BankOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankDAL.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankOrder_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetAllAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccounts" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetAllAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetAccountsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByUser" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetAccountsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IBankOrder_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankOrder">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/Register" message="tns:IBankOrder_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/RegisterResponse" message="tns:IBankOrder_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/Update" message="tns:IBankOrder_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/UpdateResponse" message="tns:IBankOrder_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/Delete" message="tns:IBankOrder_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/DeleteResponse" message="tns:IBankOrder_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/Login" message="tns:IBankOrder_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/LoginResponse" message="tns:IBankOrder_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/Logout" message="tns:IBankOrder_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/LogoutResponse" message="tns:IBankOrder_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/GetAllAccounts" message="tns:IBankOrder_GetAllAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/GetAllAccountsResponse" message="tns:IBankOrder_GetAllAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/GetAccountsByUser" message="tns:IBankOrder_GetAccountsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/GetAccountsByUserResponse" message="tns:IBankOrder_GetAccountsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOrder/GetUserById" message="tns:IBankOrder_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOrder/GetUserByIdResponse" message="tns:IBankOrder_GetUserById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankOrder" type="tns:IBankOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByUser">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/GetAccountsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IBankOrder/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankOrder">
    <wsdl:port name="BasicHttpBinding_IBankOrder" binding="tns:BasicHttpBinding_IBankOrder">
      <soap:address location="http://localhost:4455/BankOrder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>